# ------------------------------------
# Files
# ------------------------------------
build/*
db/*

# ------------------------------------
# Folders
# ------------------------------------
!build/.gitkeep
!db/.gitkeep